{% extends 'base.jinja2' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
	<div class="container">
		<div class="row h-100 align-items-center py-5" style="min-height:calc(100vh - 420px);">
			<div class="col-sm-9 col-12 mx-auto text-center">
				<div class="fs-2 text-success" style="word-break:keep-all;"><i class="ci-locked"></i> 새로운 비밀번호로 변경해주세요.</div>
				<div class="mx-auto mt-3 py-4 card bg-secondary border-0" style="max-width:500px;">
					<div class="card-body">
            <form class="needs-validation" novalidate>
              <div class="mb-2">
                <div class="password-toggle">
                  <div class="input-group">
                    <i class="ci-key position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                    <div class="w-100 password-toggle">
                      <input class="form-control" type="password" id="pw" placeholder="영문, 숫자, 특수문자를 포함한 8~20자" required>
                      <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox">
                        <span class="password-toggle-indicator"></span>
                      </label>                      
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="input-group mt-2 mb-2">
                <i class="ci-key position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                <div class="w-100 password-toggle">
                  <input class="form-control" type="password" id="pw2" placeholder="비밀번호를 한번 더 입력해주세요." required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox">
                    <span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
            </form>
						<div class="mt-3"><a href="javascript:void(0)" class="btn btn-primary d-block" onclick="change_pw()">비밀번호 변경</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form name="niceid_form" target="cert_form" id="niceid_form" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/service.cb">
		<input type="hidden" id="m" name="m" value="service"/>
		<input type="hidden" id="token_version_id" name="token_version_id" value=""/>
		<input type="hidden" id="enc_data" name="enc_data" value=""/>
		<input type="hidden" id="integrity_value" name="integrity_value" value=""/>
	</form>
{% endblock %}
{% block script %}
	{{ super() }}
	<script>
    function validate_refresh(obj) {
        obj.classList.remove("is-invalid");
        obj.classList.remove("is-valid");
    }

    function change_pw() {
      let pw1 = document.getElementById("pw").value;
      let pw2 = document.getElementById("pw2").value;

      if (!pw1) {
        swal.fire({
          position: 'center',
          icon: 'warning',
          title: '비밀번호를 입력해주세요.',
          showConfirmButton: false,
          timer: 1500,
        });
        return;
      }

      if (!pw2) {
        swal.fire({
          position: 'center',
          icon: 'warning',
          title: '비밀번호를 한번 더 입력해주세요.',
          showConfirmButton: false,
          timer: 1500,
        });
        return;
      }

      if (!validatePassword(pw1)) {
        swal.fire({
          position: 'center',
          icon: 'warning',
          confirmButtonText: "확인",
          title: '비밀번호 형식을 확인 해주세요.\n영문+숫자+특수문자 조합 8~20자\n[사용가능 특수문자  @#$!%*?& ]',
          timer: 1500,
        });
        return;
      }

      if (pw1 !== pw2) {
        swal.fire({
          position: 'center',
          icon: 'warning',
          title: '비밀번호가 서로 일치하지 않습니다.',
          showConfirmButton: false,
          timer: 1500,
        });
        return;
      }

      axios.post("/api/auth/password-reset", {
        token: "{{ token|replace('Bearer ', '') }}",
        password: pw1,
      }, {
        headers: {'Content-Type': 'application/json'}
      }).then(function (response) {
        swal.fire({
          position: 'center',
          icon: 'success',
          title: '비밀번호가 변경 되었습니다',
          showConfirmButton: false,
          timer: 1500,
        }).then(() => {
          window.location.href = "/{{ request.path_params.store_code }}/auth/login"
        })
      }).catch(function (error) {
        console.log(error);
        if (error.response) {
          alert(error.response.data.msg);
        }
      });
    }

    $(function(){
      let minHeight = $(document).height() - $("header").height() - $("footer").height();
      $(".min-height").css("height", minHeight);
    }); 
	</script>
{% endblock %}