{% extends 'account-base.html' %}
{% block menu_title %}비밀번호 변경{% endblock %}
{% block menu_title_breadcrumb %}비밀번호 변경{% endblock %}
{% block active_profile %}active{% endblock %}
{% block account_content %}
	<!-- Profile form-->
	<form class="needs-validation" onsubmit="return false;" novalidate>
		<div class="row gx-4 gy-3">
			<div class="col-sm-6">
				<label class="form-label" for="old_pw">현재 비밀번호</label>
				<div class="password-toggle">
					<input class="form-control" type="password" id="old_pw" autofocus placeholder="현재 비밀번호를 입력해주세요." name="old_pw" required>
					<label class="password-toggle-btn" aria-label="Show/hide password">
						<input class="password-toggle-check" type="checkbox">
						<span class="password-toggle-indicator"></span>
					</label>
				</div>
				<div class="invalid-feedback">비밀번호를 확인 해주세요.</div>
			</div>
			<div class="col-sm-6"></div>
			<div class="col-sm-6">
				<label class="form-label" for="new_pw">새 비밀번호</label>
				<div class="password-toggle">
					<input class="form-control" type="password" id="new_pw" placeholder="영문, 숫자, 특수문자를 포함한 8~20자" name="new_pw" required onclick="validate_refresh(this)">
					<label class="password-toggle-btn" aria-label="Show/hide password">
						<input class="password-toggle-check" type="checkbox">
						<span class="password-toggle-indicator"></span>
					</label>
				</div>
				<div class="invalid-feedback">새 비밀번호를 확인 해주세요.</div>
			</div>
			<div class="col-sm-6">
				<label class="form-label" for="new_pw2">비밀번호 확인</label>
				<div class="password-toggle">
					<input class="form-control" type="password" id="new_pw2" placeholder="비밀번호를 한번 더 입력해주세요." name="new_pw2" required onclick="validate_refresh(this)">
					<label class="password-toggle-btn" aria-label="Show/hide password">
						<input class="password-toggle-check" type="checkbox">
						<span class="password-toggle-indicator"></span>
					</label>
				</div>
				<div class="invalid-feedback">비밀번호가 일치 하지 않습니다.</div>
			</div>
			<div class="col-12">
				<hr class="mt-2 mb-3">
				<div class="text-end">
					<button class="btn btn-primary mt-3 mt-sm-0" type="button" onclick="check()">비밀번호 변경</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
{% block script %}
	{{ super() }}
	<script type="text/javascript">
    function validate_refresh(obj) {
      obj.classList.remove("is-invalid");
      obj.classList.remove("is-valid");
    }

    function check() {
      let pw1 = document.getElementById("new_pw").value;
      let pw2 = document.getElementById("new_pw2").value;

      if (!document.querySelector("#old_pw").value) {
        swal.fire({
          position: 'center',
          icon: 'warning',
          title: '현재 비밀번호를 입력해주세요.',
          showConfirmButton: false,
          timer: 1500,
        });
        return false;
      }
      if (!validatePassword(pw1)) {
        swal.fire({
          position: 'center',
          icon: 'warning',
					confirmButtonText: "확인",
          title: '비밀번호 형식을 확인 해주세요.\n영문+숫자+특수문자 조합 8~20자\n[사용가능 특수문자  @#$!%*?& ]',
        });
        return false;
      }
      if (pw1 !== pw2) {
        swal.fire({
          position: 'center',
          icon: 'warning',
          title: '비밀번호가 일치 하지 않습니다.',
          showConfirmButton: false,
          timer: 1500,
        });
        return false;
      }

      change_pw();
    }

    function change_pw() {
      axios.post("/api/auth/password-change", {
        password: document.querySelector("#old_pw").value,
        new_password: document.querySelector("#new_pw").value,
				store_code: '{{ request.path_params.store_code }}'
      }, {
        headers: {'Content-Type': 'application/json'}
      }).then(function (response) {
        swal.fire({
          position: 'center',
          icon: 'success',
          title: '비밀번호가 변경 되었습니다.',
          showConfirmButton: false,
          timer: 1500,
        }).then(() => {
          window.location.href = "/{{ request.path_params.store_code }}/member/profile";
        })
      }).catch(function (error) {
        console.log(error);
        if (error.response.data.msg) {
          swal.fire({
            position: 'center',
            icon: 'warning',
            title: '현재 비밀번호를 확인하세요.',
            showConfirmButton: false,
            timer: 1500,
          });
          // alert(error.response.data.msg);
        }
      });
    }
	</script>
{% endblock %}