{% extends 'account-base.html' %}
{% block menu_title %}배송지 관리{% endblock %}
{% block menu_title_breadcrumb %}배송지 관리{% endblock %}
{% block active_address %}active{% endblock %}
{% block account_content %}
    <!-- Addresses list -->
    <div class="row mx-n1">
        {% for item in address %}
            <div class="col-md-6 col-12 px-1 mb-grid-gutter">
                <div class="card border{% if item.default_yn == 'Y' %}-success{% endif %}">
                    <div class="card-header d-flex justify-content-between pe-2 border-bottom {% if item.default_yn == 'Y' %}border-success{% endif %}">
                        <div class="fw-bold">{{ item.title }}</div>
                        {% if item.default_yn == 'Y' %}
                            <div class="rounded px-2 py-1 bg-success text-white fs-xs">기본 배송지</div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div>{{ item.name }}</div>
                        <div>({{ item.zipcode }})&nbsp;<br class="d-sm-none">{{ item.address }}</div>
                        <div>{{ item.address_detail }}</div>
                        <div class="mt-3">{{ item.mobile|phone_format }}</div>
                    </div>
                    <div class="card-footer d-flex pt-0 px-2 justify-content-end border-0">
                        <a href="/{{ request.path_params.store_code }}/member/address/edit?address_id={{ item.id }}" class="btn btn-sm border bg-white me-1">수정</a>
                        <button type="button" class="btn btn-sm btn-outline-primary {% if item.default_yn == 'Y' %}d-none{% endif %}" onclick="del_address({{ item.id }})" >삭제</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-sm-end px-1">
        <a class="btn btn-primary d-block" href="/{{ request.path_params.store_code }}/member/address/edit"><i class="ci-add me-2 fs-sm"></i>배송지 추가</a>
    </div>
{% endblock %}
{% block script %}{{ super() }}
<script type="text/javascript">
function del_address(id) {
    Swal.fire({
        title: '삭제 하시겠습니까?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: "#fe696a",
        confirmButtonText: '예',
        cancelButtonText: '취소'
    }).then((result) => {
        if (result.isConfirmed) {
            axios.delete("/api/customer/delivery-address/" + id).then(function (response) {
                window.location.reload();
            }).catch(function (error) {
                console.log(error);
                if (error.response) {
                    alert(error.response.data.msg);
                }
            });
        }
    })
}
</script>
{% endblock %}