{% extends 'account-base.html' %}
{% block menu_title %}개인정보 수정{% endblock %}
{% block menu_title_breadcrumb %}개인정보 수정{% endblock %}
{% block active_profile %}active{% endblock %}
{% block account_content %}
	<!-- Profile form-->
	<form class="needs-validation" onsubmit="return false;" novalidate>
		<div class="row gx-4 gy-3">
      <div class="col-12">
        <label class="form-label" for="account-email">이메일 (아이디)</label>
        <input class="form-control" type="email" id="account-email" value="{{ member.email }}" disabled>
      </div>
      <div class="col-12 py-2" id="cert_frame">
        <button class="btn btn-primary col-12" type="button" onclick="cert()" id="req-cert"><i class="ci-user me-2 ms-n1"></i>본인 인증 하기</button>
      </div>
    </div>
    <div class="row gx-4 gy-3 pt-3">
			<div class="col-sm-6">
				<label class="form-label" for="name">이름</label>
				<input class="form-control" type="text" id="name" value="{% if member.name %}{{ member.name }}{% endif %}" disabled>
			</div>
			<div class="col-sm-6">
				<label class="form-label" for="mobile">전화번호</label>
				<input class="form-control" type="text" id="mobile" value="{% if member.mobile %}{{ member.mobile|phone_format }}{% endif %}" disabled>
			</div>
			<div class="col-sm-6">
				<label class="form-label" for="reg-fn">주소</label>
				<div class="input-group has-validation">
					<input class="form-control" id="zipcode" type="text" placeholder="우편번호를 검색 해주세요" value="{% if member.zipcode %}{{ member.zipcode }}{% endif %}" onclick="search_address()" required readonly>
					<button class="btn btn-primary" type="button" onclick="search_address()">우편번호</button>
					<div class="invalid-feedback">우편번호를 검색 해주세요.</div>
				</div>
			</div>
			<div class="col-sm-12">
				<input class="form-control bg-white" type="text" required id="address" value="{% if member.address %}{{ member.address }}{% endif %}" onclick="search_address()" readonly>
				<div class="invalid-feedback">우편번호를 검색 해주세요.</div>
			</div>
			<div class="col-sm-12">
				<input class="form-control" type="text" required id="address_detail" placeholder="상세 주소를 입력해주세요." value="{% if member.address_detail %}{{ member.address_detail }}{% endif %}">
				<div class="invalid-feedback">상세 주소를 입력해주세요.</div>
			</div>
			<div class="col-12 {% if store.domain %}d-none{% endif %}">
				<hr class="mt-2 mb-3">
				<div class="col-xl-12 col-12 mx-auto text-center">
					<div>소셜계정 연결하기</div>
					<div class="d-flex flex-wrap justify-content-center gap-2 pt-3">
						<div class="d-flex gap-2 flex-wrap justify-content-center">
							<div class="d-flex gap-1 mb-2">
								<div style="width:36px;"><img src="/static/dist/icons/naver.png" alt="naver"></div>
								{% if member.sns_naver %}
									<a href="javascript:void(0);" onclick="unlinkSns('naver')" class="btn btn-sm text-white" style="background:#03c75a; width:116px;">네이버 연결끊기</a>
								{% else %}
									<a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=7eMzZBgkGyGvPFLenIja&redirect_uri={{ base_url }}sns/naver-link&state=naver" class="btn btn-sm text-white" style="background:#03c75a; width:116px;">네이버 연동하기</a>
								{% endif %}
							</div>
							<div class="d-flex gap-1 mb-2">
								<div style="width:36px;"><img src="/static/dist/icons/kakao.png" alt="kakao"></div>
								{% if member.sns_kakao %}
									<a href="javascript:void(0);" onclick="unlinkSns('kakao')" class="btn btn-sm" style="background:#fee500; color:#000; width:116px;">카카오 연결끊기</a>
								{% else %}
									<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=434945f5295e6a7f20a98cedb85e1b27&redirect_uri={{ base_url }}sns/kakao-link" class="btn btn-sm" style="background:#fee500; color:#000; width:116px;">카카오 연동하기</a>
								{% endif %}
							</div>
						</div>
						<div class="d-flex gap-2 flex-wrap justify-content-center">
{#							<div class="d-flex gap-1 mb-2">#}
{#								<div style="width:36px;"><img src="/static/dist/icons/google.png" alt="google"></div>#}
{#								{% if member.sns_google %}#}
{#									<a href="javascript:void(0);" onclick="unlinkSns('google')" class="btn btn-sm" style="border: 1px solid #bbbdbb; color:#000; width:116px;">구글 연결끊기</a>#}
{#								{% else %}#}
{#									<a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=288584913604-mee7d27m8u7gfdnropnnjb4m7g5qeneg.apps.googleusercontent.com&redirect_uri={{ base_url }}sns/google-link&scope=openid" class="btn btn-sm"#}
{#										 style="border: 1px solid #bbbdbb; color:#000; width:116px;">구글 연동하기</a>#}
{#								{% endif %}#}
{#							</div>#}
							<div class="d-flex gap-1 mb-2">
								<div style="width:36px;"><img src="/static/dist/icons/payco.png" alt="payco"></div>
								{% if member.sns_payco %}
									<a href="javascript:void(0);" onclick="unlinkSns('payco')" class="btn btn-sm text-white" style="background:#e6312c; width:116px;">페이코 연결끊기</a>
								{% else %}
									<a href="https://id.payco.com/oauth2.0/authorize?response_type=code&client_id=3RDLN3dsub2LDYkyn0q5_Zq&serviceProviderCode=FRIENDS&redirect_uri={{ base_url }}sns/payco-link&userLocale=ko_KR" class="btn btn-sm text-white" style="background:#e6312c; width:116px;">페이코
										연동하기</a>
								{% endif %}
							</div>
							<div class="d-flex gap-1 mb-2">
								<div style="width:36px;"><img src="/static/dist/icons/apple.png" alt="apple"></div>
								{% if member.sns_apple %}
									<a href="javascript:void(0);" onclick="unlinkSns('apple')" class="btn btn-sm text-white" style="background:#000; width:116px;">애플 연결끊기</a>
								{% else %}
									<a href="javascript:void(0);" onclick="apple_login()" class="btn btn-sm text-white" style="background:#000; width:116px;">애플 연동하기</a>
									<div id="appleid-signin" data-color="black" data-border="true" data-type="sign in" class="d-none"></div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
        <div class="form-check text-start">
          <input class="form-check-input" type="checkbox" id="chkMarketing" {% if member.sms == 'Y' %}checked{% endif %}>
          <label class="form-check-label" for="chkMarketing">마케팅 활용 동의 <a class="text-muted" href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal_marketing">[자세히 보기]</a></label>
        </div>
				<hr class="mt-3">
        <div class="row mt-3">
          <div class="col-6 pe-1"><a href="/{{ request.path_params.store_code }}/member/password" class="btn btn-outline-primary w-100">비밀번호 변경</a></div>
          <div class="col-6 ps-1"><button class="btn btn-primary w-100" type="submit" onclick="modProfile()">정보 수정</button></div>
        </div>
        <div class="mt-3 text-end">
          <a href="/{{ request.path_params.store_code }}/member/signout" class="btn border text-muted fs-sm">회원 탈퇴하기</a>
        </div>        
			</div>
		</div>
		<input type="hidden" id="birth" value="{% if member.birthday %}{{ member.birthday }}{% endif %}"/>
		<input type="hidden" id="gender" value="{% if member.sex %}{{ member.sex }}{% endif %}"/>
	</form>
	<form name="niceid_form" target="cert_form" id="niceid_form" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/service.cb">
		<input type="hidden" id="m" name="m" value="service"/>
		<input type="hidden" id="token_version_id" name="token_version_id" value=""/>
		<input type="hidden" id="enc_data" name="enc_data" value=""/>
		<input type="hidden" id="integrity_value" name="integrity_value" value=""/>
	</form>

  <div id="modal_marketing" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">마케팅 활용 동의</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-sm word-keep-all">
          할인쿠폰 및 혜택, 이벤트, 신상품 소식 등 쇼핑몰에서 제공하는 유익한 쇼핑정보를 SMS나 이메일로 받아보실 수 있습니다.<br>
          단, 주문/거래 정보 및 주요 정책과 관련된 내용은 수신동의 여부와 관계없이 발송됩니다.<br>
          선택 약관에 동의하지 않으셔도 회원가입은 가능하며, 회원가입 후 회원정보수정 페이지에서 언제든지 수신여부를 변경하실 수 있습니다.
        </div>
      </div>
    </div>
  </div>  
{% endblock %}
{% block script %}
	{{ super() }}
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
	<script type="text/javascript">
    AppleID.auth.init({
      clientId: 'com.coniaworld',
      scope: '',
      redirectURI: '{{ base_url }}sns/apple-link',
      state: '{{ user.id }}_{{ request.path_params.store_code }}',
      usePopup: true
    });

    async function apple_login() {
      try {
        const data = await AppleID.auth.signIn();
        console.log(data);
        const id_token = data.authorization.id_token;
        window.location.href = `{{ base_url }}sns/apple?store_code={{ request.path_params.store_code }}&id_token=${id_token}&call_type=link`
      } catch (e) {
        console.log(e);
      }
    }

    function search_address() {
      new daum.Postcode({
        oncomplete: function (data) {
          document.getElementById("zipcode").value = data.zonecode;
          document.getElementById("address").value = data.address;
          document.getElementById("zipcode").classList.add("is-valid");
          document.getElementById("address").classList.add("is-valid");
        }
      }).open();
    }

    function cert() {
      axios.post("{{ api_host }}/auth/cert-niceid", {
        return_url: "{{ base_url }}{{ request.path_params.store_code }}/auth/cert-result"
      }, {
        headers: {'Content-Type': 'application/json'}
      }).then(function (response) {
        let token_version_id = response.data.token_version_id;
        let enc_data = response.data.enc_data;
        let integrity_value = response.data.integrity_value;
        document.querySelector("#token_version_id").value = token_version_id;
        document.querySelector("#enc_data").value = enc_data;
        document.querySelector("#integrity_value").value = integrity_value;

        window.addEventListener('message', receiveCertValue, false);
        setTimeout(() => {
          if (getPlatformType() === 'PC') {
            window.open('', 'cert_form', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
          }
          document.getElementById('niceid_form').submit();
        });
      }).catch(function (error) {
        console.log(error);
        if (error.response) {
          alert(error.response.data.msg);
        }
      });
    }

    function receiveCertValue(event) {
      console.log(event.data);
      axios.post("{{ api_host }}/auth/cert-niceid-verify", {
        token_version_id: event.data.token_version_id,
        enc_data: event.data.enc_data,
        integrity_value: event.data.integrity_value,
      }, {
        headers: {'Content-Type': 'application/json'}
      }).then(function (response) {
        const inputDateStr = response.data.birth;
        const year = inputDateStr.slice(0, 4);
        const month = inputDateStr.slice(4, 6);
        const day = inputDateStr.slice(6, 8);
        const formattedDateStr = `${year}-${month}-${day}`;

        document.querySelector("#name").value = response.data.name;
        document.querySelector("#mobile").value = response.data.mobile;
        document.querySelector("#birth").value = formattedDateStr;
        document.querySelector("#gender").value = response.data.gender;
        document.querySelector("#cert_frame").classList.add("d-none");
        document.querySelector("#name").classList.add("is-valid")
        document.querySelector("#mobile").classList.add("is-valid")
      }).catch(function (error) {
        console.log(error);
        if (error.response) {
          alert(error.response.data.msg);
        }
      });
    }

    function validation() {
      if (document.querySelector("#name").value !== "{{ member.name }}") {
        if (!document.querySelector("#name").classList.contains("is-valid")) {
          return false;
        }
      }
      if (document.querySelector("#mobile").value !== "{{ member.mobile|phone_format }}") {
        if (!document.querySelector("#mobile").classList.contains("is-valid")) {
          return false;
        }
      }
      if (document.querySelector("#zipcode").value !== "{{ member.zipcode }}") {
        if (!document.querySelector("#zipcode").classList.contains("is-valid")) {
          return false;
        }
      }
      if (document.querySelector("#address").value !== "{{ member.address }}") {
        if (!document.querySelector("#address").classList.contains("is-valid")) {
          return false;
        }
      }
      if (document.querySelector("#address_detail").value !== "{{ member.address_detail }}") {
        if (!document.querySelector("#address_detail").value) {
          return false;
        }
      }
      return true;
    }

    function modProfile() {
      if (validation()) {
        axios.put("/api/customer", {
          "name": document.querySelector("#name").value,
          "mailling": document.querySelector("#chkMarketing").checked ? "Y" : "N",
          "sms": document.querySelector("#chkMarketing").checked ? "Y" : "N",
          "mobile": document.querySelector("#mobile").value.replaceAll('-', ''),
          "zipcode": document.querySelector("#zipcode").value,
          "address": document.querySelector("#address").value,
          "address_detail": document.querySelector("#address_detail").value,
          "birthday": document.querySelector("#birth").value,
          "sex": document.querySelector("#gender").value
        }, {
          headers: {'Content-Type': 'application/json'}
        }).then(function (response) {
          swal.fire({
            position: 'center',
            icon: 'success',
            title: '변경 되었습니다.',
            showConfirmButton: false,
            timer: 1500,
          }).then(() => {
            window.location.reload();
          })
        }).catch(function (error) {
          console.log(error);
          if (error.response) {
            if (error.response.data.code === 'DATA0003') {
              alert('변경된 정보가 없습니다.');
            } else {
              alert(error.response.data.msg);
            }
          }
        });
      }
    }

    function unlinkSns(service) {
      axios.delete("/api/auth/unlink?service=" + service).then(function (response) {
        swal.fire({
          position: 'center',
          icon: 'success',
          title: '연결을 해제하였습니다.',
          showConfirmButton: false,
          timer: 1500,
        }).then(() => {
          window.location.reload();
        })
      }).catch(function (error) {
        console.log(error);
        if (error.response) {
          alert(error.response.data.msg);
        }
      });
    }
	</script>
{% endblock %}