{% extends 'account-base.html' %}
{% block menu_title %}관심 상품{% endblock %}
{% block menu_title_breadcrumb %}관심 상품{% endblock %}
{% block active_wish %}active{% endblock %}
{% block account_content %}
	{% if wish_products %}
		<div class="row mx-n1">
			{% for item in wish_products %}
				<div class="col-6 px-1 mb-grid-gutter wish-item">
					<div class="card product-card h-100 border-0 overflow-hidden">
						<a href="/{{ request.path_params.store_code }}/product/{{ item.id }}" class="d-block h-100 text-dark">
							<div class="position-relative">
								<img src="{% if item.photos %}{{ item.photos[0].uri }}{% else %}{{ url_for('static', path='img/noimage_list.gif') }}" style="width: 230px; {% endif %}" alt="Product" class="img-1by1 rounded-3">
								<button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="관심상품 추가" onclick="wish(this, {{ item.id }})">
									<i class="ci-heart-filled text-primary"></i>
								</button>								
								{% if item.is_sold_out or item.status == 'S' %}
									<div class="img-disable">
										<span class="fw-bold fs-3">품절</span>
									</div>
								{% elif item.status == 'P' %}
									<div class="img-disable">
										<span class="fw-bold fs-4">판매 중지</span>
									</div>
								{% elif item.status == 'PT' %}
									<div class="img-disable">
										<span class="fw-bold fs-4">판매 준비중</span>
									</div>
								{% endif %}
							</div>
							<div class="item-card-body">
								<div class="item-name-wrap">
									{% if item.brands %}
										<div class="item-shop-name">{{ item.brands[0].name }}</div>
									{% endif %}
									<div class="item-title ellipsis-2">{{ item.name }}</div>
								</div>
								{% if user or store.type == "O" %}
									{% for option in item.options %}
										{% if option.default_yn == 'Y' %}
											{% if option.origin_price %}
												<div class="item-price-wrap">
													{% if option.origin_price > option.selling_price %}
														<span class="item-discount-per">
															{{ ((option.origin_price - option.selling_price)/option.origin_price * 100)|custom_round }}%
														</span>
													{% endif %}
													<div class="item-selling-price">{{ "{:,.0f}".format(option.selling_price) }}원</div>
													{% if option.origin_price > option.selling_price %}
														<div class="item-discount-wrap">
															<del class="item-discount-price">{{ "{:,.0f}".format(option.origin_price) }}원</del>
														</div>
													{% endif %}
												</div>
											{% endif %}
											{% break %}
										{% endif %}
									{% endfor %}
								{% endif %}
								{% if item.subtitle %}
									<div class="item-subtitle ellipsis-2">{{ item.subtitle }}</div>
								{% endif %}
								<!--뱃지 영역-->
								{% if item.badges and item.badges|length > 0 %}
									<div class="item-badge-wrap">
										{% for badge in item.badges %}
											<span class="badge badge-shadow" style="background-color: {{ badge.color }};">{{ badge.name }}</span>
										{% endfor %}
									</div>
								{% endif %}																
								{% if item.view_end_time == 'Y' and (item.sale_end_date and (item.sale_end_date > current_datetime)) %}
									<!-- 판매 시간 -->
									{% if item.sale_start_date and (item.sale_start_date > current_datetime) %}
										<div class="countdown mt-1 text-info fs-xs" data-countdown="{{ item.sale_start_date }}">
										<div class="d-flex align-items-center gap-1 me-1"><i class="ci-time"></i>판매 시작까지</div>
										<div class="countdown-days m-0 d-flex align-items-baseline">
											<span class="countdown-value">0</span>
											<span>일&nbsp;</span>
										</div>
									{% elif (item.sale_start_time and (item.sale_start_time > current_time)) or (item.sale_start_time and item.sale_end_time and (item.sale_end_time < current_time)) %}
										<div class="countdown mt-1 text-info fs-xs" data-countdown="{{ item.sale_start_time|add_date_str }}">
										<div class="d-flex align-items-center gap-1 me-1"><i class="ci-time"></i>판매 시작까지</div>
									{% elif item.sale_end_time and (item.sale_end_time > current_time) %}
										<div class="countdown mt-1 text-info fs-xs" data-countdown="{{ item.sale_end_time|add_date_str }}">
										<div class="d-flex align-items-center gap-1 me-1"><i class="ci-time"></i>판매 종료까지</div>
									{% else %}
										<div class="countdown mt-1 text-info fs-xs" data-countdown="{{ item.sale_end_date }}">
										<div class="d-flex align-items-center gap-1 me-1"><i class="ci-time"></i>판매 종료까지</div>
										<div class="countdown-days m-0 d-flex align-items-baseline">
											<span class="countdown-value">0</span>
											<span>일&nbsp;</span>
										</div>
									{% endif %}
								<div class="countdown-hours m-0 d-flex align-items-center">
									<span class="countdown-value">0</span>
									<span>:</span>
								</div>
								<div class="countdown-minutes m-0 d-flex align-items-center">
									<span class="countdown-value">0</span>
									<span>:</span>
								</div>
								<div class="countdown-seconds m-0 d-flex align-items-center">
									<span class="countdown-value">0</span>
								</div>
								</div>
								{% endif %}
								{% if item.view_inventory == 'Y' %}
									<div class="mt-1 fs-xs lineH-10 text-danger">남은 수량 {% if item.inven_cnt > 0 %}{{ item.inven_cnt }}{% else %}0{% endif %}개</div>
								{% endif %}
								</div>
						</a>
					</div>
				</div>				
			{% endfor %}
		</div>
	{% else %}
		<div class="text-center">
			<h6 class="my-5">관심 상품을 담아 주세요.</h6>
			<a class="btn btn-outline-primary" href="/{{ request.path_params.store_code }}/product">상품 보러가기</a>
		</div>
	{% endif %}
{% endblock %}
{% block script %}
	{{ super() }}
	<script type="text/javascript">
    function wish(obj, productId) {
			event.preventDefault();

      axios.delete("/api/wish/" + productId + "?store_code={{ store.code }}", {
        headers: {'Content-Type': 'application/json'}
      }).then(function (response) {
        obj.closest(".wish-item").remove();
        Swal.fire({
          icon: 'success',
          title: '관심 상품이 삭제 되었습니다.',
          showConfirmButton: false,
          timer: 1500
        }).then(() => {
          const wishList = document.querySelectorAll(".wish-item");
          if (wishList.length === 0) {
            window.location.reload();
          } else {
            document.querySelector(".wish-count").innerText = wishList.length;
          }
        })
      }).catch(function (error) {
        console.log(error);
        if (error.response) {
          alert(error.response.data.msg);
        }
      });
    }
	</script>
{% endblock %}