{% extends 'account-base.html' %}
{% block menu_title %}마이 쿠폰{% endblock %}
{% block menu_title_breadcrumb %}마이 쿠폰{% endblock %}
{% block active_coupon %}active{% endblock %}
{% block account_content %}
	<ul class="nav nav-tabs nav-fill" role="tablist">
		<li class="nav-item col-6 text-center"><a href="#coupon" class="nav-link active" data-bs-toggle="tab" role="tab">마이 쿠폰</a></li>
		<li class="nav-item col-6 text-center"><a href="#coupon-history" class="nav-link" data-bs-toggle="tab" role="tab">쿠폰 히스토리</a></li>
	</ul>
	<div class="tab-content">
		<div id="coupon" class="tab-pane fade show active" role="tabpanel">
			<div class="row mx-n1">
				{% if coupon_able %}
					{% for coupon in coupon_able %}
						<div class="col-md-6 col-12 px-1 mb-grid-gutter">
							<div class="d-flex flex-row h-100 position-relative">
								{% if coupon.status == 'DS' %}
									<div class="img-disable rounded-3">
										<span class="fw-bold fs-3">사용 불가</span>
									</div>
								{% elif coupon.status == 'DE' %}
									<div class="img-disable rounded-3">
										<span class="fw-bold fs-3">기간 만료</span>
									</div>
								{% endif %}
								<div class="px-3 pt-3 pb-2 rounded-3 border border-end-0" style="width:calc(100% - 90px);">
									<div class="fs-xs text-muted word-keep-all">{{ coupon.description }}</div>
									<div class="fw-bold mb-3">{{ coupon.name }}</div>
									{% if coupon.percent %}
										<h2 class="fw-bold text-info mb-3 lineH-12">{{ coupon.percent }}%<span class="fs-base"> 할인</span></h2>
									{% else %}
										<h2 class="fw-bold text-info mb-3 lineH-12">{{ "{:,.0f}".format(coupon.amount) }}원<span class="fs-base"> 할인</span></h2>
									{% endif %}
									{% if coupon.begin_date or coupon.end_date %}
										<div class="fs-xs text-muted">{% if coupon.begin_date %}{{ (coupon.begin_date|string)[:10] }}{% endif %} ~ {% if coupon.end_date %}{{ (coupon.end_date|string)[:10] }}{% endif %}</div>
									{% else %}
										<div class="fs-xs text-muted">기한 없음</div>
									{% endif %}
								</div>
								<div class="d-flex flex-column align-items-center justify-content-center pt-3 pb-1 px-2 rounded-3 border" style="width:90px;border-left-style:dashed !important;">
									{% if coupon.coupon_group.image %}
										<div class="border rounded-circle overflow-hidden mb-4 bg-white" style="width:62px;"><img src="{{ coupon.coupon_group.image }}" class="img-1by1"></div>
									{% endif %}
									{% if coupon.target == 'all' %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product">상품보기</a>
									{% elif coupon.product_id %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product/{{ coupon.product_id }}">상품보기</a>
									{% elif coupon.target_pa_str and coupon.target_prd_str %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product/search?q=쿠폰[{{ coupon.name }}]&prd={{ coupon.target_prd_str }}&pa={{ coupon.target_pa_str }}">상품보기</a>
									{% elif coupon.target_pa_str %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product/search?q=쿠폰[{{ coupon.name }}]&pa={{ coupon.target_pa_str }}">상품보기</a>
									{% elif coupon.target_prd_str %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product/search?q=쿠폰[{{ coupon.name }}]&prd={{ coupon.target_prd_str }}">상품보기</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="text-center">
						<h6 class="my-5">사용 가능한 쿠폰이 없습니다.</h6>
						<a class="btn btn-outline-primary" href="/{{ request.path_params.store_code }}/product">상품 보러가기</a>
					</div>
				{% endif %}
			</div>
		</div>
		<div id="coupon-history" class="tab-pane fade" role="tabpanel">
			<div class="row mx-n1">
				{% if coupon_disable %}
					{% for coupon in coupon_disable %}
						<div class="col-md-6 col-12 px-1 mb-grid-gutter">
							<div class="d-flex flex-row h-100 position-relative">
								{% if coupon.status == 'DS' %}
									<div class="img-disable rounded-3">
										<span class="fw-bold fs-3">사용 불가</span>
									</div>
								{% elif coupon.status == 'DE' %}
									<div class="img-disable rounded-3">
										<span class="fw-bold fs-3">기간 만료</span>
									</div>
								{% elif coupon.status == 'USE' %}
									<div class="img-disable rounded-3">
										<span class="fw-bold fs-3">사용 완료</span>
									</div>
								{% endif %}
								<div class="px-3 pt-3 pb-2 rounded-3 border border-end-0" style="width:calc(100% - 90px);">
									<div class="fs-xs text-muted word-keep-all">{{ coupon.description }}</div>
									<div class="fw-bold mb-3">{{ coupon.name }}</div>
									{% if coupon.percent %}
										<h2 class="fw-bold text-info mb-3 lineH-12">{{ coupon.percent }}%<span class="fs-base"> 할인</span></h2>
									{% else %}
										<h2 class="fw-bold text-info mb-3 lineH-12">{{ "{:,.0f}".format(coupon.amount) }}원<span class="fs-base"> 할인</span></h2>
									{% endif %}
									<div class="fs-xs text-muted">{{ (coupon.begin_date|string)[:10] }} ~ {{ (coupon.end_date|string)[:10] }}</div>
								</div>
								<div class="d-flex flex-column align-items-center justify-content-center pt-3 pb-1 px-2 rounded-3 border" style="width:90px;border-left-style:dashed !important;">
									{% if coupon.coupon_group.image %}
										<div class="border rounded-circle overflow-hidden mb-4 bg-white" style="width:62px;"><img src="{{ coupon.coupon_group.image }}" class="img-1by1"></div>
									{% endif %}
									{% if coupon.target == 'all' %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product">상품보기</a>
									{% elif coupon.product_id %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product/{{ coupon.product_id }}">상품보기</a>
									{% elif coupon.target_pa_str and coupon.target_prd_str %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product/search?q=쿠폰[{{ coupon.name }}]&prd={{ coupon.target_prd_str }}&pa={{ coupon.target_pa_str }}">상품보기</a>
									{% elif coupon.target_pa_str %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product/search?q=쿠폰[{{ coupon.name }}]&pa={{ coupon.target_pa_str }}">상품보기</a>
									{% elif coupon.target_prd_str %}
										<a class="btn bg-white border py-1 px-3" style="font-size:12px;" href="/{{ request.path_params.store_code }}/product/search?q=쿠폰[{{ coupon.name }}]&prd={{ coupon.target_prd_str }}">상품보기</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="text-center">
						<h6 class="my-5">사용한 쿠폰이 없습니다.</h6>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}