{% for item in layout["banners"] %}
	{% if item|component_item_visible %}
		<div class="row mx-0">
			<div class="col-12 px-0">
				{% if item.type == 'img' %}
					{% if item.full_link %}
						<a href="{{ item.full_link }}" class="d-block conia-el-link">
							<img class="w-100" src="{{ item.img_m }}" alt="banner">
						</a>
					{% elif item.link %}
						<a href="/{{ request.path_params.store_code }}{{ item.link }}" class="d-block">
							<img class="w-100" src="{{ item.img_m }}" alt="banner">
						</a>
					{% else %}
						<div class="d-block">
							<img class="w-100" src="{{ item.img_m }}" alt="banner">
						</div>
					{% endif %}
				{% elif item.type == 'video' %}
					<figure class="media">
						<div data-oembed-url="{{ item.v_link }}">
							<div style="position: relative; padding-bottom: 100%; height: 0; padding-bottom: 56.2493%;">
								<iframe src="https://www.youtube.com/embed/{{ item.v_link|get_youtube_src }}" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
							</div>
						</div>
					</figure>
				{% elif item.type == 'video-vimeo' %}
					<figure class="media">
						<div data-oembed-url="{{ item.v_link }}">
							<div style="position: relative; padding-bottom: 100%; height: 0; padding-bottom: 56.2493%;">
								<iframe src="https://player.vimeo.com/video/{{ item.v_link|get_vimeo_src }}?autoplay=1&loop=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</figure>
				{% elif item.type == 'text' %}
					<div class="text-box">{{ item.text|safe }}</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endfor %}