<!DOCTYPE>
<html>
<head>
	<title>페이코 결제</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi">
	<script type="text/javascript">
    function closePopup() {
      window.opener.postMessage({
        code: "{{ request.query_params.code }}",
        reserveOrderNo: "{{ request.query_params.reserveOrderNo }}",
        sellerOrderReferenceKey: "{{ request.query_params.sellerOrderReferenceKey }}",
        mainPgCode: "{{ request.query_params.mainPgCode }}",
        totalPaymentAmt: "{{ request.query_params.totalPaymentAmt }}",
        totalRemoteAreaDeliveryFeeAmt: "{{ request.query_params.totalRemoteAreaDeliveryFeeAmt }}",
        discountAmt: "{{ request.query_params.discountAmt }}",
        pointAmt: "{{ request.query_params.pointAmt }}",
        paymentCertifyToken: "{{ request.query_params.paymentCertifyToken }}",
      });
      window.close();
    }
    {% if request.query_params.code == '2222' %}
			alert('{{ request.query_params.message }}');
			window.close();
    {% else %}
			closePopup();
		{% endif %}

	</script>
</head>
<body>
</body>
</html>